-- ========================================================================== --
-- Revert [% change %]
-- ========================================================================== --
BEGIN;

DROP TABLE IF EXISTS [% IF table %][% table %][% ELSE %][% change %][% END %];

COMMIT;
