-- ========================================================================== --
-- Verify [% change %]
-- ========================================================================== --
BEGIN;

-- XXX Add verifications here.
-- @TODO

ROLLBACK;
